<!-- <div class="container"> -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="mb-3">Notifikasi (1)</h3>
    </div>
    <div class="col-lg-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-3 p-0 pe-2 bg-transparent float-lg-end">
          <li class="breadcrumb-item"><a href="/u/dashboard">Beranda</a></li>
          <li class="breadcrumb-item active">Notifikasi</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-xl-6">
      <div class="list-group">
        <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning" href="/u/account/notifications/601334a2-9c98-4c29-b1ec-3c11013b7751">
          <b>Tes Baru</b>
          <span class="badge badge-primary badge-pill">1</span>
        </a>
      </div>
    </div>
  </div>
<!-- </div> -->
