<div class="container">
  <div>
      <div class="row">
          <div class="col-lg-6">
              <h3 class="mb-3">Biaya Sekolah</h3>
          </div>
          <div class="col-lg-6">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-3 p-0 pe-2 bg-transparent float-lg-end">
                      <li class="breadcrumb-item"><a href="/u/dashboard">Beranda</a></li>
                      <li class="breadcrumb-item active">Biaya Sekolah</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div>
                  <div class="alert alert-info">Belum ada Biaya Sekolah yang diatur untuk Anda.</div>
              </div>
          </div>
      </div>
  </div>
</div>

