/* Tambahkan border hanya pada nav-link yang dipilih */
.nav-tabs .nav-link {
  cursor: pointer;
  border: none; /* Hilangkan border secara default */
}

.nav-tabs .nav-link.active {
  border: 1px solid #ccc; /* Tambahkan border pada nav-link yang sedang dipilih */
}

/* Tambahkan efek hover untuk menunjukkan respons saat kursor diarahkan */
.nav-tabs .nav-link:hover {
  background-color: #f8f9fa; /* Warna latar belakang saat dihover, sesuaikan kebutuhan */
}
