<!-- <div class="container"> -->
  <div>
      <div class="row">
          <div class="col-lg-6">
              <h3 class="mb-3">Tes </h3>
          </div>
          <div class="col-lg-6">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-3 p-0 pe-2 bg-transparent float-lg-end">
                      <li class="breadcrumb-item"><a href="/u/dashboard">Beranda</a></li>
                      <li class="breadcrumb-item active">Tes</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="card mb-3">
                      <div class="card-body">
                          <h5 class="card-title">Filter</h5>
                          <hr class="hr-dashed-2">
                          <div class="form-group mb-3">
                              <input type="text" class="form-control" placeholder="Kata Kunci" value="">
                          </div>
                          <div class="form-group mb-3">
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Mata Pelajaran">
                              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                              <ul class="dropdown-menu dropdown-menu-end" style="width: 100%;">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="form-group mb-3">
                              <select class="form-select">
                                  <option value="0">Status Pengerjaan</option>
                                  <option value="1">Belum Dikerjakan</option>
                                  <option value="2">Sudah Dikerjakan</option>
                              </select>
                          </div>
                          <button class="btn btn-primary" type="button"> Terapkan</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8">
                  <div class="card mb-4">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-xl-7 mb-3">
                                  <h4 class="card-title">
                                      <div class="text-break">2023 RUMBO COMPETITION MATEMATIKA LEVEL 4 (KELAS 7-9)</div>
                                  </h4>
                                  <h6 class="card-subtitle text-muted mb-0">
                                      <div class="text-break">Kerjakan dengan Jujur dan Mandiri.<br>Benar +4<br>Salah -1<br>Kosong 0.</div>
                                  </h6>
                              </div>
                              <div class="col-xl-5">
                                  <ul class="list-group list-group-horizontal-lg float-xl-end">
                                      <li class="list-group-item list-group-item-success">Terbit</li>
                                      <li class="list-group-item bg-success"><a href="#start" class="text-white">Lihat Nilai <i class="fa fa-lock"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="row">
                              <div class="col-xl-8">
                                  <ul class="list-group list-group-horizontal-lg mb-3">
                                      <li class="list-group-item">MATEMATIKA</li>
                                      <li class="list-group-item">30 butir</li>
                                      <li class="list-group-item">90 menit</li>
                                  </ul>
                              </div>
                              <div class="col-xl-4">
                                  <div class="d-flex flex-row">
                                      <div class="me-2">
                                          <img src="https://kompetisi.mediadidik.com/images/teacher-female.png" class="img-thumbnail rounded-circle mt-1" width="45" height="45">
                                      </div>
                                      <div class="pt-1" style="line-height: 1.5;">
                                          <div><a href="/u/account/13594"><b>Admin 5</b></a></div>
                                          <span>Minggu, 31 Des 2023</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-xl-7 mb-3">
                                  <h4 class="card-title">
                                      <div class="text-break">SIMULASI RUMBO COMPETITION MTK LEVEL 4 (KELAS 7-9)</div>
                                  </h4>
                                  <h6 class="card-subtitle text-muted mb-0">
                                      <div class="text-break">Kerjakan dengan Kejujuran Penuh, Jujur itu Juara!</div>
                                  </h6>
                              </div>
                              <div class="col-xl-5">
                                  <ul class="list-group list-group-horizontal-lg float-xl-end">
                                      <li class="list-group-item list-group-item-warning">Tutup</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="row">
                              <div class="col-xl-8">
                                  <ul class="list-group list-group-horizontal-lg mb-3">
                                      <li class="list-group-item">15 butir</li>
                                      <li class="list-group-item">30 menit</li>
                                  </ul>
                              </div>
                              <div class="col-xl-4">
                                  <div class="d-flex flex-row">
                                      <div class="me-2">
                                          <img src="https://kompetisi.mediadidik.com/images/teacher-male.png" class="img-thumbnail rounded-circle mt-1" width="45" height="45">
                                      </div>
                                      <div class="pt-1" style="line-height: 1.5;">
                                          <div><a href="/u/account/2"><b>Admin2</b></a></div>
                                          <span>Sabtu, 17 Sep 2022</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 mb-2">
                          <ul class="pagination pagination-sm mb-0">
                              <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                              <li class="page-item disabled"><a class="page-link" href="#">⟨</a></li>
                              <li class="page-item active"><a class="page-link undefined" href="#">1</a></li>
                              <li class="page-item disabled"><a class="page-link" href="#">⟩</a></li>
                              <li class="page-item disabled"><a class="page-link" href="#">»</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex flex-row justify-content-lg-end">
                              <b>Tampil 2 dari 2 Total Data</b>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->

