
<div class="row d-flex justify-content-center align-items-center h-60">
  <div class="col col-9">
    <div class="card mb-4">
      <div class="card-header" >
        Masuk
      </div>
      <div class="row g-0">
        <div class="col-12 col-7 d-flex align-items-center">
          <div class="card-body p-4 text-black">
            <form class="form form-horizontal" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()"
            #enjiForm="ngForm">
              <div class="form-group row mb-3">
                <label for="email" class="col-md-4 col-form-label text-md-end">Alamat e-mail</label>
                <div class="col-md-6">
                  <!-- <input id="email" type="email" class="form-control " name="email" value="" required="" autocomplete="email" autofocus=""> -->
                  <input type="text" id="username" class="form-control"  formControlName="username"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && loginForm.controls.username.invalid}"/>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>
                <div class="col-md-6">
                  <input id="password" type="password" class="form-control" formControlName="password"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && loginForm.controls.password.invalid}">
                  <a class="d-block mt-1" href="https://kompetisi.mediadidik.com/password/reset">
                    Lupa kata sandi Anda?
                  </a>
                </div>
              </div>
              <div class="form-group row mb-3">
                <div class="col-md-8 offset-md-4 mt-2">
                    <button type="submit" class="btn btn-lg btn-primary">
                        Masuk
                    </button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
