.form-control {
  border-color: #4e4d4d; /* Warna biru */
}

.form-control:focus {
  border-color: #0056b3; /* Warna biru tua saat focus */
}
.form-select {
  border-color: #4e4d4d; /* Warna biru */
}

.form-select:focus {
  border-color: #0056b3; /* Warna biru tua saat focus */
}
.form-check-input {
  border-color: #4e4d4d; /* Warna biru */
}

.form-check-input:focus {
  border-color: #0056b3; /* Warna biru tua saat focus */
}
