
<div class="row d-flex justify-content-center align-items-center h-60 ">
  <div class="col col-6 pd-4">
    <div class="card mb-4">
      <div class="card-header" >
        Daftar
      </div>
      <div class="row g-0">
        <div class="col-12 col-7 d-flex align-items-center">
          <div class="card-body p-4 text-black">
            <form class="form form-horizontal" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()"
            #enjiForm="ngForm">
              <div class="row justify-content-center mb-3">
                <div class="col-md-6">
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block mb-3 w-100" data-bs-toggle="modal" data-bs-target="#modalPengajar">
                    <img src="assets/images/teacher-male.png" class="rounded-circle img-thumbnail" width="40" height="40">  Pengajar
                  </button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block mb-3 w-100" data-bs-toggle="modal" data-bs-target="#modalPesertaDidik">
                    <img src="assets/images/murid-male.png" class="rounded-circle img-thumbnail" width="40" height="40"> Murid</button>
                </div>
              </div>
              <!-- Modal Pengajar -->
              <div class="modal fade" id="modalPengajar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Daftar Pengajar</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <app-modal-pengajar></app-modal-pengajar>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                      <button type="button" class="btn btn-primary">Daftar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Peserta Didik -->
              <div class="modal fade" id="modalPesertaDidik" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Daftar Peserta Didik</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <app-modal-peserta-didik></app-modal-peserta-didik>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                      <button type="button" class="btn btn-primary">Daftar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

