<!-- <div class="container"> -->
  <div>
      <div class="row">
          <div class="col-lg-6">
              <h3 class="mb-3">Rekap Nilai </h3>
          </div>
          <div class="col-lg-6">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-3 p-0 pe-2 bg-transparent float-lg-end">
                      <li class="breadcrumb-item"><a href="/u/dashboard">Beranda</a></li>
                      <li class="breadcrumb-item active">Rekap Nilai</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="card mb-3">
                  <div class="card-header">
                      <input placeholder="Filter mata pelajaran..." type="text" class="form-control" value="">
                  </div>
                  <ul class="list-group list-group-flush"></ul>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->
