<!-- <app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Traffic</h4>
        <div class="small text-medium-emphasis">January - December 2021</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>24.093 Users (20%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>78.706 Views (60%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<app-widgets-brand [withCharts]="true"></app-widgets-brand>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Traffic {{ "&" }} Sales</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">New Clients</div>
                  <div class="fs-5 fw-semibold">9,123</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                    Recurring Clients
                  </div>
                  <div class="fs-5 fw-semibold">22,643</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Monday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="34"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="78"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="56"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="94"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="12"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="67"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="43"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="91"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="22"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="73"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="53"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="82"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="9"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="69"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-info">&nbsp;</span>
                </sup>
                <span>New clients</span>
                &nbsp;&nbsp;
                <sup>
                  <span class="badge badge-pill badge-sm bg-danger">&nbsp;</span>
                </sup>
                <span>Recurring clients</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Page views</div>
                  <div class="fs-5 fw-semibold">78,623</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Organic</div>
                  <div class="fs-5 fw-semibold">49,123</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">43%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value="43"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">37%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value="37"></c-progress-bar>
                </c-progress>
              </div>
            </div>

            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibGoogle"></svg>
                <span>Organic Search</span>
                <span class="ms-auto font-semibold">
                  191,235 <span class="text-medium-emphasis small">(56%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="56"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
                <span>Facebook</span>
                <span class="ms-auto font-semibold">
                  51,223 <span class="text-medium-emphasis small">(15%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="15"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibTwitter"></svg>
                <span>Twitter</span>
                <span class="ms-auto font-semibold">
                  37,564 <span class="text-medium-emphasis small">(11%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="11"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibLinkedin"></svg>
                <span>LinkedIn</span>
                <span class="ms-auto font-semibold">
                  27,319 <span class="text-medium-emphasis small">(8%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="8"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="divider d-flex justify-content-center">
              <button
                cButton
                class="text-muted btn-link"
                color="transparent"
                size="sm"
                type="button"
              >
                <svg cIcon name="cil-options"></svg>
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>User</th>
              <th class="text-center">Country</th>
              <th>Usage</th>
              <th class="text-center">Payment Method</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td class="text-center">
                <c-avatar
                  size="md"
                  src="{{ user.avatar }}"
                  status="{{ user.status }}"
                ></c-avatar>
              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{ user.state }} | Registered: {{ user.registered }}
                  </span>
                </div>
              </td>
              <td class="text-center">
                <svg
                  cIcon
                  id="{{ user.country + user.name }}"
                  name="cif{{ user.country }}"
                  size="xl"
                  title="{{ user.country }}"
                ></svg>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ user.usage }}%</strong>
                  </div>
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                      {{ user.period }}
                    </small>
                  </div>
                </div>
                <c-progress thin>
                  <c-progress-bar
                    [value]="user.usage"
                    color="{{ user.color }}"
                  ></c-progress-bar>
                </c-progress>
              </td>
              <td class="text-center">
                <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
              </td>
              <td>
                <div class="small text-medium-emphasis">Last login</div>
                <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->

<!-- <div class="container">
  <div class="row">
      <div class="col-lg-6">
          <h3 class="mb-3">Ruang Diskusi</h3>
      </div>
      <div class="col-lg-6">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-3 p-0 pr-2 bg-transparent float-lg-right">
                  <li class="breadcrumb-item"><a href="/u/dashboard">Beranda</a></li>
                  <li class="breadcrumb-item active">Ruang Diskusi</li>
              </ol>
          </nav>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-4">
          <div class="card mb-3">
              <div class="card-body">
                  <h5 class="card-title">Filter</h5>
                  <hr class="hr-dashed-2">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Kata Kunci" value="">
                  </div>
                  <div class="form-group">
                      <div class="css-2b097c-container">
                          <div class="css-yk16xz-control">
                              <div class="css-1hwfws3">
                                  <div class="css-1wa3eu0-placeholder">Mata Pelajaran</div>
                                  <div class="css-1g6gooi">
                                      <div class="" style="display: inline-block;">
                                          <input autocapitalize="none" autocomplete="off" autocorrect="off"
                                              id="react-select-2-input" spellcheck="false" tabindex="0" type="text"
                                              aria-autocomplete="list" value=""
                                              style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                          <div
                                              style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14.4px; font-family: Poppins, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="css-1wy0on6">
                                  <span class="css-1okebmr-indicatorSeparator"></span>
                                  <div aria-hidden="true" class="css-tlfecz-indicatorContainer">
                                      <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                          focusable="false" class="css-19bqh2r">
                                          <path
                                              d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                          </path>
                                      </svg>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <button class="btn btn-primary" type="button"> Terapkan</button>
              </div>
          </div>
      </div>

      <div class="col-lg-8">
          <div class="alert alert-info">Belum ada undangan Ruang Diskusi untuk Anda.</div>
          <div class="row">
              <div class="col-lg-6 mb-2">
                  <ul class="pagination pagination-sm mb-0">
                      <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                      <li class="page-item disabled"><a class="page-link" href="#">⟨</a></li>
                      <li class="page-item disabled"><a class="page-link" href="#">⟩</a></li>
                      <li class="page-item disabled"><a class="page-link" href="#">»</a></li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <div class="d-flex flex-row justify-content-lg-end">
                      <b>Tampil 0 dari 0 Total Data</b>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<!-- <div class="container"> -->
  <div class="row mb-4">
      <div class="col-lg-6 mb-3">
          <div class="card shadow-sm">
              <div class="card-body">
                  <h5 class="card-title">Hai RIZAL ADITYA MUZACKY</h5>
                  <p class="card-text">Anda login sebagai <b>Peserta Didik</b> dengan IP <b>103.105.78.134</b>, zona waktu <b>Asia/Jakarta</b>.</p>
                  <a class="btn btn-light border mb-2 me-2" href="/u/profile">Detail Profil</a>
                  <a class="btn btn-light border mb-2" href="#">Perbarui Akun</a>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="card shadow-sm">
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-5 col-xl-4 d-flex justify-content-center">
                          <img src="assets/images/android-logo.png" style="max-height: 140px;">
                      </div>
                      <div class="col-lg-7 col-xl-8">
                          <h5 class="card-title">Mediadidik Mobile</h5>
                          <p class="card-text">Unduh aplikasi Android Mediadidik dan pelajari cara login aplikasi pada tombol di bawah.</p>
                          <div class="d-flex flex-column flex-xl-row">
                              <div class="mb-2 me-2">
                                  <a href="https://play.google.com/store/apps/details?id=com.mediadidik.app" class="btn btn-outline-success" target="_blank" rel="noopener noreferrer">
                                      <i class="fab fa-google-play"></i> Unduh Aplikasi
                                  </a>
                              </div>
                              <div>
                                  <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">Cara Login</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cara Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="d-flex justify-content-center mb-3">
                <img src="assets/images/mediadidik-mobile-login.png" style="width: 250px;">
            </div>
            <ul>
                <li>Isi Sekolah ID dengan <code style="font-size: 18px;">2112130</code></li>
                <li>Isi E-mail dan Password sesuai dengan akun login Anda saat ini</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header"><b>Ruang Diskusi Teraktif</b></div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">Belum ada undangan Ruang Diskusi untuk Anda.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row mb-4">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <div class="row">
                      <div class="col-lg-4"><h5>Pengumuman</h5></div>
                      <div class="col-lg-8">
                          <div class="d-flex flex-column flex-lg-row justify-content-end">
                              <div class="me-2 mb-2">
                                  <select class="form-control-sm" style="width: 200px;">
                                      <option value="">Mata Pelajaran</option>
                                  </select>
                              </div>
                              <div class="me-md-2 mb-2">
                                  <div class="input-group" style="max-width: 200px;">
                                      <input type="text" class="form-control form-control-sm" placeholder="Kata kunci" value="">
                                      <div class="input-group-append">
                                          <button type="button" class="btn btn-sm btn-secondary">
                                              <i class="fa fa-search"></i>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <div class="alert alert-warning mb-0 mt-0">Belum ada Pengumuman untuk Anda.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->

